@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  color: #f3e8ee;
  background: #2e2c2f;
  font-family: "Raleway", sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer {
  border-top: 1px solid #f3e8ee;
  margin-top: 16px;
  padding: 1rem 0;
  background-color: #475b63;
}

header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

header a {
  color: #475b63;
  margin-right: 16px;
  text-decoration: none;
  font-size: 2rem;
  background: #f3e8ee;
  border-radius: 2px;
}

.portrait {
  width: 100px;
}
